@model IEnumerable<blogMe.Core.Model.Blog>
@{
    ViewBag.Title = "blogMe";
}

<div class="jumbotron">
    <h1>blogMe</h1>
    <p class="lead">blogMe är en gratisblogg för alla som vill blogga utan att det kostar skjortan...</p>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>Utforska spännande bloggar på blogMe</h2>
        <div class="row">
            <div class="col-md-8">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bloggar på blogMe</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var blog in Model)
                        {
                            <tr>
                                <td>@blog.Name</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kom igång med din blogg</h2>
        <p>
            Registrera dig med ett klick på "Börja blogga på blogMe".<br />
            Börja blogga.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Om blogMe</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Läs mer &raquo;</a></p>
    </div>
</div>
